.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App-title-bar {
  width: 100%;
  background-image: linear-gradient(#2c5094, #15757a);
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.Body{
  background-color: white;
}

.Form{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.Form-input{
  height: 5vh;
  width: 40vw;
  font-size: 3vh;
  padding: 1vh
}

.Form-button{
  margin-left: 2vw;
  background-color:rgb(35, 153, 92);
}